/*********************************************************************
    This website was designed by:
    Ronald Yang + Dennis Brotzky
    
    programmed by me.

    This is where the ghetto-magic happens

    questiones/comments/bugs -->
    send us a message through http://ecureuilmort.com/contact
*********************************************************************/
@import url(http://weloveiconfonts.com/api/?family=entypo);
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    height: 100%;
    margin: 10px 0px;
    padding: 0px;
    background-color: #FAFAFA;
    font-color: rgb(172, 189, 169);
}
@font-face {
    font-family: "Roboto";
    src: url(font/ASans.ttf) format("truetype");
}
p {
    text-align: justify;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0px 10px;
    line-height: 1.4em;
    color: #444444;
}
hr {
    width: 60%;
    opacity: 0.6;
    margin: 40px auto;
}
/****************************************************
            Styling for WRITTEN PARA
****************************************************/
.writing-paragraph {
    display: block;
    text-align: justify;
    font-family: 'Droid Serif',Georgia, Cambria ,"Times New Roman",Times,serif;
    color: rgba(0,0,0,0.75);
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 15px auto;
    width: 93%;
    line-height: 30px;
}
.writing-paragraph-poem {
    display: block;
    text-align: left;
    padding-left: 30%;
    font-family: 'Droid Serif',Georgia, Cambria ,"Times New Roman",Times,serif;
    color: rgba(0,0,0,0.75);
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 15px auto;
    width: 93%;
    line-height: 22px;
}
.writing-title {
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    margin: 8px auto;
}
.writing-title h5 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 0;
}
.writing-title h6 {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}
.writing-epilogue {
    text-align: center;
    margin: 20px auto -10px auto;
    width: 60%;
    font-family: 'Droid Serif',Georgia, Cambria ,"Times New Roman",Times,serif;
    font-size: 0.8em;
}
.writing-footer {
    position: relative;
    text-align: justify;
    font-family: 'Droid Serif',Georgia, Cambria ,"Times New Roman",Times,serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.5);
    margin: 10px auto;
    width: 90%;
    line-height: 18px;
}
.writing-border {
    position: relative;
    padding-top: 10px;
}
.border-top-left {
    position: absolute;
    padding-top: 10px;
    top: 0;
    right: 65%;
    left: 0;
    border-top: 1px solid rgba(53,58,53, 0.6);
}
h2 {
    position: absolute;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 0.9rem;
    font-weight: lighter;
    color: #353a35;
    margin: 50px 0px 0px 198px;
    opacity: 0.8;
}
ul {
    margin: 0px;
}
#wrapper {
    width: 960px;
    margin: 0px auto;
    overflow: hidden;
}
#mygallery img {
    display: inline-block;
}
/* RELATING TO NAVIGATION*/
#unstyle {
    margin: 0px 0px 0px 305px;
}
#unstyle ul li{
    position: relative;
    display: inline;
    list-style-type: none;
    text-align: center;
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    padding: 3px 8px;
    border-bottom: 1px solid #353a35;
}
/* MOVEMEMT and stuff of nav bar*/
#unstyle a {
    text-decoration: none;
    display: inline-block;
    margin-top: 28px;
    font-size: 1.65em;
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #353a35;
    -webkit-transition: all 140ms;
    -moz-transition: all 140ms;
    -Roboto-transition: all 140ms;
    -o-transition: all 140ms;
    transition: all 140ms;
}
#unstyle li:hover a{
    color: #b9c9b8;
    background-color: none;
    -webkit-transition: all 140ms;
    -moz-transition: all 140ms;
    -Roboto-transition: all 140ms;
    -o-transition: all 140ms;
    transition: all 140ms;

}
/*2nd--> etc Content box*/
.content {
    width: 89%;
    margin: 25px  auto 10px auto;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px solid #b9c9b8;
    overflow: auto;
}
/*1st Content Box*/
.content1 {
    width: 89%;
    margin: 50px  auto 10px auto;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #b9c9b8;
    overflow: auto;
}
.index-content-top {
    width: 85%;
    margin: 35px  auto 10px auto;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #b9c9b8;
    overflow: auto;
}
.indent {
    text-indent: 35px;
}
h1 {
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    float: left;
}
.content-left {
    float: left;
    margin: 0px;
}
.content-left1 {
    margin: 0px 10px;
    display: inline;
}
/*FIXED POSITION FOR DEADSQUIRREL LOGO*/
.logo {
    position: fixed;
    margin: 5px 0px 0px -28px;
}
.logohome {
    display: inline-block;
    margin: 0px 0px 0px 0px;
}
/*L.Ecureuil Mort*/
h1.welcomepage {
    position: absolute;
    margin: 17px 0px 10px 62px;
    padding: 0px 90px 0px 0px;
    color: #353a35;
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 42px;
}
h2.collective {
    position: absolute;
    margin: 53px 0px 0px 0px;
    padding: 0px;
    color: #353a35;
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
h3.collective {
    position: absolute;
    margin: 55px 0px 0px 65px;
    padding:0px;
    color: #353a35;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
}
/************************************************
    NAVIGATION TRIANGLE POSITION
***********************************************/
.triangleMusic {
    opacity: 0.7;
    float: right;
    margin-right: 274px;
}
.triangleArt {
    opacity: 0.7;
    float: right;
    margin-right: 584px;
}
.trianglePhotography {
    opacity: 0.7;
    float: right;
    margin-right: 485px;
}
.triangleWriting {
    opacity: 0.7;
    float: right;
    margin-right: 360px;
}
.triangleAbout {
    opacity: 0.7;
    float: right;
    margin-right: 190px;
}
.triangleContact {
    opacity: 0.7;
    float: right;
    margin-right: 99px;
}
h4 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 1.2em;
    padding: 7px 3px;
    margin: -10px auto -12px auto;
    border-top: 1px dotted #b9c9b8;
    border-bottom: 1px dotted #b9c9b8;
    max-width: 100%;
    text-decoration: underline;
}
.content-left1 .content-title {
    float: none;
    display: block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.2em;
    padding: 10px 5px;
    border-top: 1px dotted #b9c9b8;
    border-bottom: 1px dotted #b9c9b8;
    text-align: center;
}
.content-left .content-title {
    float: none;
    display: block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.2em;
    padding: 10px 5px;
    border-top: 1px dotted #b9c9b8;
    border-bottom: 1px dotted #b9c9b8;
    text-align: center;
}
.content1 .content-about {
    font-family: 'Droid Serif',Georgia, Cambria ,"Times New Roman",Times,serif;
        color: rgba(0,0,0,0.65);
        font-weight: lighter;
        font-size: 16px;
        letter-spacing: 1px;
        margin: 5px auto 15px auto;
        width: 93%;
        line-height: 30px;
        text-align: justify;
        width: 100%;
}
.hidden {
    display: none;
}
/****************************************************
            MARION HEADERS
****************************************************/
.marion-art {
    float: left;
    margin-top: 15px;
}
.marion-fayolle-website {
    margin: 15px auto;
    text-align: center;
    font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
    font-size: 1.2em;
    font-weight: lighter;
    border: none;
    letter-spacing: 2px;
    color: #353a35;
    opacity: 0.6;
}
.videofloat {
    position: relative;
    max-width: 400px;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}
/****************************************************
            PLAY FOR MUSIC
****************************************************/
[class*="entypo-play"]:before {
    z-index: 999;
    font-family: 'entypo', sans-serif;
    position: absolute;
    color: #FAFAFA;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0,0,0, .3);
    font-size: 6.5em;
    text-align: center;
    text-transform: uppercase;
    text-shadow:1px 2px rgba(0,0,0, 0.3);
    line-height: 230px;
    cursor: pointer;
}
[class*="entypo-check"]:before {
    font-family: 'entypo', sans-serif;
    position: absolute;
    color: #0F940D;
    margin: -60px 0 0 100px;
    font-size: 4em;
    text-align: center;
    text-shadow:1px 2px rgba(0,0,0, 0.3);
}
.scrollToTopp{
    color: #b9c9b8;
    text-decoration: none;
    position:fixed;
    margin-top:74px;
    margin-left: -6px; 
    display: none;
    opacity: 0.6;
}
.scrollToTopp:hover{
    text-decoration:none;
    cursor: default;
}
.musicimg{
    float: left;
    cursor: pointer;
    cursor: hand;
}
.musicLink {
    text-decoration: none;
    color: #353a35;
    -webkit-transition: all 140Roboto;
    -moz-transition: all 140Roboto;
    -Roboto-transition: all 140Roboto;
    -o-transition: all 140Roboto;
    transition: all 140Roboto;
}
a{
    text-decoration: none;
        color: #353a35;
}
a:hover  { 
    color:#b9c9b8;
}
#thumbs,
#thumbs1,
#thumbs2,
#thumbs3,
#thumbs4,
#thumbs5,
#thumbs6,
#thumbs7 {
    cursor: pointer;
}
/************************************************
    this section is dedicated CSS for EXPAND/COLLAPSE feature
    mostly attributed to WRITING SECTION 
***********************************************/
.bigtext-one,
.bigtext {
    overflow: hidden;
    display: block;
    margin: auto;
}
.expand, 
.contract,
.contract1
 {
    display: table;
    margin: 0px auto;
    cursor: pointer;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.4rem;
}
.expand:hover, 
.contract:hover,
.contract:hover
 {
  color: #b9c9b8;
}
.hide {
  display: none;
}
.aboutImage{
    display: table;
    margin: 0px auto;
}
/************************************************
        FIXED BOTTOM RIGHT SOCIAL
***********************************************/
.twitter {
    position: fixed;
    bottom: 2px;
    right: 16px;
}
.facebook {
    position: fixed;
    bottom: 70px;
    right: 15px;
}
.instagram {
    position: fixed;
    bottom: 35px;
    right: 15px;
}
.twitter-mobile,
.facebook-mobile,
.instagram-mobile {
    display: none;
}

/************************************************
        CONTACT FORM STYLING
***********************************************/
form {
    margin-top: 30px;
    display: block;
    text-align: center;
    font-weight: lighter;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 80%;
  background-color: rgba(185,201,184,0.3);
  color: #545b60;
  letter-spacing: 1px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
input:focus::-webkit-input-placeholder{color: transparent!important;}
input:focus::-moz-placeholder{color: transparent!important;}
input:focus:-moz-placeholder{color: transparent!important;}
textarea:focus::-webkit-input-placeholder{color: transparent!important;}
textarea:focus::-moz-placeholder{color: transparent!important;}
textarea:focus:-moz-placeholder{color: transparent!important;}
textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: 200px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 80%;
  background-color: rgba(185,201,184,0.3);
  color: #545b60;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
}
button {
  padding: 9px 19px 8px 19px;
  color: #FFF;
  background-color: #B9C9B8;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 20%;
  border: 1px solid #B9C9B8;
  border-width: 1px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
    -webkit-transition: background-color 0.2s ease-out
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}
button:active {
    position: relative;
    top: 1px;
}
button:focus {outline:0;}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  box-shadow: 0px 0px 3px #e6f0e6 inset;
}
button:hover {
    cursor: pointer;
    background-color: #a1b1a0;
    color: white;
}
fieldset {
    border: none;
}
.contact-content-center {
        position: relative;
        width: 70%;
        margin: 0 auto;
        top: 40px;
}
.contact-content-center .writing-paragraph{
    font-size: 15px;
}
.return-home {
    display: table;
    text-align: center;
    margin: 20px auto;
    font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
    font-size: 1.4em;
    text-decoration: underline;
    font-weight: lighter;
    letter-spacing: 2px;
    border: none;
    color: #353a35;
    -webkit-transition: all 140ms;
    -moz-transition: all 140ms;
    -Roboto-transition: all 140ms;
    -o-transition: all 140ms;
    transition: all 140ms;
}
.return-home:hover{
    cursor: pointer;
    color: #b9c9b8;
    -webkit-transition: all 140ms;
    -moz-transition: all 140ms;
    -Roboto-transition: all 140ms;
    -o-transition: all 140ms;
    transition: all 140ms;
}
/************************************************
             Photography/Art-Post Styling
***********************************************/
.art-post-content {
    width: 85%;
    margin: 60px auto 10px auto;
    text-align: center; 
}
.art-post-art {
    width: 100%;
    margin: 18px auto;
}
.art-post-charlotte {
    margin-top: 18px;
}
.art-post-title{
    width: 100%;
    font-family: "Raleway","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
    font-size: 1.2em;
    font-weight: lighter;
    border: none;
    color: #353a35;
    opacity: 0.6;
    text-decoration: none;
}
.art-post-content .art-post-writing {
    font-family: "Raleway","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
    opacity: 0.9;
    margin-top: 8px;
    padding: 3px 15px;
}
.art-post-link {
    text-decoration: underline;
}
/************************************************
            Music-Post Styling
***********************************************/
.music-post-videofloat {
    position: relative;
    margin: 15px;
    width: 97%;
    min-height: 100%;
}
.music-artist-info-container {
    position: relative; 
}
.artist-content-left {
    margin: 10px auto;
    clear: both;
}
.music-click-image {
    margin: 55px 0px 0px 405px;
}
.music-label-link {
    margin-bottom: -7px;
}
.music-line-height {
    line-height: 430px !important;
}
/************************************************
            Music Auto-Play 
***********************************************/
.play-list-hidden {
    display: none;
}
.play-list-wrapper {
    position: relative;
    width: 87%;
    height: 230px;
    margin: 57px auto -40px auto;
}
.play-all-wrapper {
    position: relative;
    margin-top: -10px;
}
.play-all-absolute {
    position: fixed;
    float: right;
    margin: -43px auto -28px 911px;
}
.play-all-play,
.play-all-pause {
    cursor: pointer;
}
.play-all-tip {
    color: #b9c9b8;
    margin: -7px 0 0 10px;
}
/************************************************
        MEDIA QUERIES FOR SCREENS 1024
***********************************************/
@media screen and (max-width: 1024px){
    body {
        background-color: ;
    }
    .logo, .facebook, .instagram, .twitter {
        display: none;
    }
    .social-media {

        position: relative;
        text-align: center;
        bottom: 0;
        right: 0;
        height: 100px;
        width: 100%;
    }
    .twitter-mobile,
    .facebook-mobile,
    .instagram-mobile {
        position: relative;
        display: inline-block;
        height: 70%;
        width: 70px;
        bottom: 0;
        margin: 10px;
    }
    .content1, .content {
    width: 840px;
    margin: 25px  auto 10px auto;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #b9c9b8;
    overflow: auto;
    }
    .play-all-play {
        display: none;
    }
}
/************************************************
        MEDIA QUERIES FOR SCREENS 960
************************************************/
@media screen and (max-width: 960px){
    body {
        background-color: ;
    }
    #unstyle ul{
        margin: 0px;
        padding: 0px;
    }
    p {
        line-height: 1.8em;
    }
    .logo,
    .triangleMusic,
    .triangleContact,
    .triangleAbout,
    .triangleWriting,
    .trianglePhotography,
    .triangleArt {
        display: none;
    }

    #wrapper {
        width: 98%;
        margin: 0px auto;
    }
    .content1, .content {
        width: 100%;
        margin: 25px  auto 10px auto;
        padding: 0px;
        border-bottom: 1px solid #b9c9b8;
        overflow: auto;
    }
    #unstyle {
        text-align: center;
        margin: 0px auto;
    }
    #unstyle ul li{
        text-align: center;
        padding: 3px 8px;
    }
    /* MOVEMEMT and stuff of nav bar*/
    #unstyle a {
        margin-top: 15px;
        font-size: 1.85em;
    }
    /*L.Ecureuil Mort*/
    h1.welcomepage {
        display: none;
    }
    h3.collective {
        display: none;
    }
    h2 {
        position: relative;
        text-align: center;
        margin: 10px auto 0px auto;
    }
    h5.long-ass-title{
        font-size: 150%;
        margin-bottom: 15px;
    }
    .writing-title {
        margin: 35px auto 15px auto;
    }
    .writing-epilogue {
        width: 80%;
    }
    .thumbImage {
        display: inline-block;
        float: none;
        width: 49%;
        height: 49%;
    }
    #gallery #largeImage7,
    #gallery #largeImage6,
    #gallery #largeImage5,
    #gallery #largeImage4,
    #gallery #largeImage3,
    #gallery #largeImage2,
    #gallery #largeImage1, 
    #gallery #largeImage,
    #mygallery #largeImage1,
    #mygallery #largeImage {
        display: none;
    }
        .videofloat {
        float: none;
        margin: 0 auto;
    }
    .art-post-content {
        width: 95%;
    }
    .art-post-art {
        margin: 13px auto;
    }
}
/************************************************
        MEDIA QUERIES FOR SCREENS 720
***********************************************/
@media screen and (max-width: 720px){
    ul {
        margin: 0px;
        padding: 0px;
    }
    h4 {
        position: relative;
        margin: 10px auto;
    }
    h2 {
        margin: 10px auto -11px auto;
    }
    .videofloat {
        display: block;
        clear: both;
    }
    #unstyle ul li{
        text-align: center;
        border: none;
        display: inline-block;
        width: 48%;
    }
    /* Firefox only. 1+ */
    #unstyle ul li,  x:-moz-any-link  { width: 45%; }
    #unstyle a {
        display: block;
        margin: 0px auto;
        padding: 8px;
        font-size: 1.3em;
        border: 1px solid rgba(53,58,53, 0.4);
        box-shadow: 0 1px 1px rgba(0,0,0,0.05) inset;
        box-shadow: 1px 2px 1px rgba(0,0,0,0.1) ;
        border-radius: 5px;
        letter-spacing: 1px;
    }
    .content1, .content, {
        width: 100%;
        margin: 5px  auto 10px auto;
        padding: 0px;
        border-bottom: 1px solid #a1b1a0;
        clear: both;
    }
    .content-left {
        clear: both;

    }
    .content-left1 {
        margin: 0px 10px;
       clear: both;
        display: block;
    }
    .writing-paragraph {
        text-align: justify;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 15px auto;
        width: 93%;
        line-height: 28px;
    }
    .writing-paragraph-poem {
        padding-left: 26%;
    }
    /************************************************
        Contact Form Styling
    ***********************************************/
    input[type="text"],
    input[type="email"],
    button,
    textarea {
        width: 95%;
     }
    input[type="text"],
    input[type="email"],
    button {
        padding: 20px;
    }
    input[type="email"] {
        text-decoration: none;
    }
    .contact-content-center {
        position: relative;
        width: 95%;
        margin: 5px auto 50px auto;
    }
    .contact-content-center .writing-paragraph{
        text-align: center;
        font-size: 14px;
    }
     #unstyle li:hover a {
        color: black;
    }
    .selected {
        background-color: #b9c9b8;
    }
    .thumbImage {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 5px; 
    }
    #mygallery #largeImage {
        display: none;
    }
    #gallery #largeImage {
        display: none;
    }
    #mygallery #largeImage1 {
        display: none;
    }
    #gallery #largeImage1 {
        display: none;
    }
    .scrollToTop .scrollToTopp{
        z-index: 999;
        border: 2px solid white;
        background-color: rgba(53,58,53, 0.2);
        border-radius: 5px;
        color: white;
        font-size: 2em;
        text-shadow: 1px 2px rgba(53,58,53, 1);
        top: -65px;
        right: -5px;
        padding: 1px 19px;
        cursor: pointer;
        opacity: 0.5;
    }
    iframe {
        width: 100%;
    }
    fieldset {
        box-shadow:  0 0 0.8em #bbb;
        padding-top: 30px;
        border-radius: 5px;
    }
    .content1 .content-about {
        width: 88%;
    }
    .index-content-top {
        width: 120%;
    }
    .art-post-content {
        width: 100%;
        margin: auto auto 10px auto;
    }
    .art-post-art {
        margin: auto;
    }
    .writing-paragraph-poem {
       padding-left: 20%;
    }
}
/************************************************
        MEDIA QUERIES FOR SCREENS 600
***********************************************/
@media screen and (max-width: 600px){
    
    p {
        line-height: 1.35em;
        text-align: left;
    }
    .writing-epilogue {
        font-size: 0.6em;
        width: 100%;
    }
    .writing-paragraph {
        line-height: 24px;
    }
    .expand, .contract, .contract1 {
        padding: 7px 20px;
    }
    h5.long-ass-title{
        font-size: 60%;
    }
    .videofloat {
        float: none;
        margin: 0 auto;
    }
    .writing-paragraph-poem {
       padding-left: 13%;
    }
}